.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-img{
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: 'Anton', sans-serif;
  color: white;
  
  
}
.container-img img{
  width: 100%;
}
.container-img .span1{
  position: absolute;
  top: 8;
  -webkit-text-stroke: 2px black;
}
.container-img .span2{
  position: absolute;
  bottom: 0;
  -webkit-text-stroke: 2px black;
 
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .container-img{
    
    font-size: 1.8rem;
  }
}